<h1>Team</h1>

<div class="card small-card" [formGroup]="formGrp">
	<h2>Ajouter un membre</h2>
	<app-text-input [control]="formFirstName" id="firstName" label="Prénom"></app-text-input>
	<app-text-input [control]="formLastName" id="lastName" label="Nom"></app-text-input>
	<app-select-input [control]="formFramework" id="framework" label="Framework" [options]="frameworkOptions">
	</app-select-input>

	<button (click)="addUser()" class="btn btn-dark">Ajouter</button>
</div>

<div id="team-list">
	<app-member *ngFor="let user of users"
				[id]="user.id ? user.id : 0"
				[firstname]="user.firstname"
				[lastname]="user.lastname"
				[framework]="user.framework"
				(removeUser)="removeUser($event)">
	</app-member>
</div>
